@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

:root {
  --scale-factor: 0.85; /* Масштабирующий коэффициент */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline-offset: 2px;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Comfortaa-Regular";
  src: url("https://fonts.gstatic.com/s/comfortaa/v45/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDr4fIA9c.woff2") format("woff2");
}